@import url('https://fonts.googleapis.com/css2?family=Shojumaru&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Sansita:wght@800&family=Shojumaru&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    color: white;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    background-image: url(SNL-CartBlurredDark.png);
    background-size: cover;
    background-position: center;
    font-family: Shojumaru;
}

/* .header{
    overflow: hidden;
    background-color: rgba(24, 0, 0, 0.5);
    padding: 5px 5px;
    height: 4em; 
} */
nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-logo{
    max-width: 100px;
    clip-path: circle(50%);
}

.nav-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 3rem;
    color: #fff;
    padding: 1rem 2rem;
    font-size: 1rem;
    background-color: #f71e1e;
    border-radius: 5px;
    cursor: pointer;
    font-family: Sansita;
    letter-spacing: 1px;
}

.ul links a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}

.links a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color:#0a0303 ;
    transition: al 0.3s ease;
}

.links a:hover::after{
    width: 70%
}

.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #f71e1e;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: Sansita;
    letter-spacing: 0.5px;
}

.btn:hover{
    background-color: #d81d1d;
}

.container{
    max-width: 1200px;
    padding: 5rem 2rem;
    margin: auto;
}

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 75px #0d0a09;
    z-index: -100;
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h4{
    margin-bottom: 1rem;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;
}

header .content h1{
    color: white;
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: 800;
    line-height: 4rem;
    letter-spacing: 3px;
    -webkit-text-stroke-color: #0a0303;
    -webkit-text-stroke-width: 1px;
}

header .content p{
    font-size: 15px;
    margin-bottom: 2rem;
    color: white;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 5px;
    font-family: Poppins;
}

header .image{
    position: relative;
    box-shadow: 0 0 50px #ff000071;
}

header .image::before{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 38rem;
    font-weight: 400;
    line-height: 20rem;
    color: #d81d1d;
    opacity: 0.2;
    z-index: -100;
}

 header .image img{
    max-width: 600px;
    margin: auto;
}
