@import url('https://fonts.googleapis.com/css2?family=Shojumaru&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Sansita:wght@800&family=Shojumaru&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    color: white;
}

body{
    background-color: #f0f0f0;
}
.header_overlay {
    width: 100%;
    padding: 1px 60px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    
}

.header_overlay nav{
    display: flex;
}

.header_overlay .logo{
    height: 55px;
    width: fit-content;
    align-self: center;
    cursor: pointer;
}

.header_overlay .logo img {
    height: 100%;
    clip-path: circle(50%);
}

.navbar{
    background-color: #f71e1e;
    height: 80%;
    margin-top: 10px;
    margin-left: 750px;
    display: flex;
    font-family: Sansita;
    align-items: center;
    width: 275px;
    height: 50px;
    justify-content: space-between;
    border-radius: 10px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fffcfc;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: rgb(255, 253, 253);
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}

.header_overlay button1 {
    display: flex;
    padding: 0 20px;
    width: 180px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    letter-spacing: 2px;
    align-self: center;
    font-family: Sansita;
    background-color: #f71e1e;
    cursor: pointer;
    position: relative;
}

.header_overlay button1::after {
    content: '';
    height: 3px;
    width: 0%;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    position: absolute;
    bottom: 5px;
    left: 18px;
    transition: width 0.5s;
}

.header_overlay button1:hover::after {
    width: 80%;
}
.header_overlay button1:hover{
    background-color: #db1717;
    transition: width 0.5s;
}

header{
    background-image: url(SNL-Header2.png);
    color: #fff;
    text-align: center;
    padding: 20px 20px 30px;
    background-repeat: no-repeat;
    background-size: 1300px 300px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}

h1{
    font-family: 'Shojumaru', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

body {
    background-image: url(SNL-Logo2.png);
    background-position: center;
    background-repeat: no-repeat;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.7);
    background-size: cover;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .item {
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;

  }
  
  .item img {
    width: 100%;
    height: 200px;
  }
