@import url('https://fonts.googleapis.com/css2?family=Shojumaru&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Sansita:wght@800&family=Shojumaru&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    color: white;
    font-family: Sansita;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    background-image: url(SNL-CartBlurredDark.png);
    background-size: cover;
    background-position: top center;
    font-family: Shojumaru;
}

.header_overlay {
    width: 100%;
    padding: 1px 60px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    
}

.header_overlay nav{
    display: flex;
}

.header_overlay .logo{
    height: 55px;
    width: fit-content;
    align-self: center;
    cursor: pointer;
}

.header_overlay .logo img {
    height: 100%;
    clip-path: circle(50%);
}

.navbar{
    height: 80%;
    margin-top: 10px;
    margin-left: 100px;
    display: flex;
    font-family: Sansita;
    align-items: center;
    width: 275px;
    height: 50px;
    justify-content: space-between;
    border-radius: 10px;
    cursor: pointer;
}

.navbar ul li{
    font-family: Sansita;
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    font-family: Sansita;
    text-decoration: none;
    color: #fffcfc;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: rgb(255, 253, 253);
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}

.header_overlay button1 {
    color: white;
    display: flex;
    margin-top: 10px;
    padding: 0 20px;
    width: 180px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    letter-spacing: 2px;
    align-self: center;
    font-family: Sansita;
    /* background-color: #f71e1e; */
    cursor: pointer;
    position: relative;
}

.header_overlay button1::after {
    content: '';
    height: 3px;
    width: 0%;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    position: absolute;
    bottom: 5px;
    left: 18px;
    transition: width 0.5s;
}

.header_overlay button1:hover::after {
    width: 80%;
}
.header_overlay button1:hover{
    /* background-color: #db1717; */
    transition: width 0.5s;
}

.header_overlay button1 {
    display: flex;
    margin-top: 10px;
    padding: 0 20px;
    width: 180px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    letter-spacing: 2px;
    align-self: center;
    font-family: Sansita;
    /* background-color: #f71e1e; */
    cursor: pointer;
    position: relative;
}

.header_overlay button1::after {
    content: '';
    height: 3px;
    width: 0%;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    position: absolute;
    bottom: 5px;
    left: 18px;
    transition: width 0.5s;
}

.header_overlay button1:hover::after {
    width: 80%;
}
.header_overlay button1:hover{
    /* background-color: #db1717; */
    transition: width 0.5s;
}

.header_overlay button1:hover::after {
    width: 80%;
}
.header_overlay button1:hover{
    /* background-color: #db1717; */
    transition: width 0.5s;
}

.header_overlay button2 {
    color: white;
    display: flex;
    margin-top: 10px;
    padding: 0 20px;
    width: 180px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    letter-spacing: 2px;
    align-self: center;
    font-family: Sansita;
    /* background-color: #f71e1e; */
    cursor: pointer;
    position: relative;
}

.header_overlay button2::after {
    content: '';
    height: 3px;
    width: 0%;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    position: absolute;
    bottom: 5px;
    left: 18px;
    transition: width 0.5s;
}

.header_overlay button2:hover::after {
    width: 80%;
}
.header_overlay button2:hover{
    /* background-color: #db1717; */
    transition: width 0.5s;
}

.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #f71e1e;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: Sansita;
    letter-spacing: 0.5px;
}
.btn:hover{
    background-color: #d81d1d;
}

.blur{
    position: relative;
    box-shadow: 0 0 1000px 75px #0d0a09;
    z-index: -100;
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h4{
    margin-bottom: 1rem;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;
}

header .content h1{
    color: white;
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: 700;
    line-height: 4rem;
    letter-spacing: 3px;
    -webkit-text-stroke-color: #0a0303;
    -webkit-text-stroke-width: 1px;
}

header .content p{
    font-size: 15px;
    margin-bottom: 2rem;
    color: white;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 5px;
    font-family: Poppins;
}

header .image{
    position: relative;
    box-shadow: 0 0 50px #ff000071;
}

header .image::before{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    font-weight: 400;
    line-height: 20rem;
    color: #d81d1d;
    opacity: 0.2;
    z-index: -100;
}

header .image img{
    max-width: 600px;
    margin: auto;
}

/*Signup Form */

.container{
    background-color: #363636;
    color: #F8F8F8;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    padding: 5rem 2rem;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container h1{
    font-family: Shojumaru;
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 1px;;
    color: #F8F8F8;
    text-align: center;
    font-size: 40px;
}
.container p{
    font-family: 'Montserrat', sans-serif;
    color: #F8F8F8;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1.3px;
    margin: 20px 0;
    margin-top: 60px;
}

.container p a{
    color:white;
}

.container span{
    font-size: 12px;
}

.container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button{
    font-family: 'Montserrat', sans-serif;
    background-color: #d81d1d;
    color: #F8F8F8;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    transition: transform .5s, box-shadow .5s, background-color .5s;
}

.container button:hover{
    transform: scale(1.1);
    box-shadow: 0 0 5px #DC2F2F, 0 0 10px #DC2F2F;
    background-color: #d81d1d;
}

.container button.hidden{
    background-color: black;
}

.container form{
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input{
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 20px;
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.social-icons{
    color: white;
    margin: 20px 0;
}

.social-icons a{
    color: white;
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    z-index: 1000;
}

.container.active .toggle-container{
    transform: translateX(-100%);
}

.toggle{
    background: linear-gradient(to left, #DC2F2F, #d81d1d);
    color: #F8F8F8;
    height: 100%;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    color: black;
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.container.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right{
    transform: translateX(200%);
}

/* Announcement Section Styles */
#announcement{
    background-color: #F8F8F8;
    padding: 20px 0; 
}

#announcement .title {
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 0.2rem;
    background-color: #F8F8F8;
    padding: 25px 0;
}

h2.header2{
    color: red;
    font-size: 35px;
    

}
.msg{ 
    display: flex;
    gap: 3rem;
    position: center;
}
.message {
    /* display: flex; */
    align-items: center; /* Align items vertically in the center */
    padding:20px;
    gap: 1rem; /* Adjusted gap for better spacing */
    background-color: #F8F8F8;
}

section .icon img {
    max-width: 100%; /* Adjust if needed */
    height: auto;
    display: block;
    margin: auto;
    position: absolute; 
    margin-left: 50%;
}


.message p {
    flex: 1; /*Allow the paragraph to take the remaining space */
    font-size: 15px;
    margin-bottom: 2rem;
    color: #F8F8F8;
    background-color: rgba(0, 0, 0, 0.7); /* Adjusted background opacity */
    text-align: justify;
    padding: 25px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

#contact_information {
    background-color: rgb(0, 0, 0);
    padding: 2rem;
    color: #F8F8F8;
    text-align: center;
}

.contact {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.contact a img {
    width: 25px; /* Adjust the width of the images */
    filter: brightness(0) invert(1); /* Change the color of the image to white */
}


   /* Phone display */
@media only screen and (max-width: 1023px) {
    .header_overlay {
        /* flex-direction: column; */
        display: flex;
        gap: 2rem;
    }

    .navbar {
        position: relative;
        display: flex;
    }
    
    .nav-links {
        
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        padding: 1rem 0;
    }

    .btn {
        margin-top: 1rem;
    }

    header {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}
